.wrapper {
	padding: 1rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: rgb(241, 48, 167);
}

.links {
	display: flex;
}

.activeLink,
.inactiveLink {
	font-size: 20px;
	margin-right: 1.5rem;
}

.activeLink {
	color: #fff;
	font-weight: bolder;
	text-decoration: none;
}

.inactiveLink {
	color: #fff;
}
