.wrapper {
	background: #fff;
	width: 100%;
	padding: 1rem;
}

.inputContainer {
	display: block;
}

.input {
	padding: 10px;
	border: 1px solid #ccc;
}

.treasurebutton {
	font-size: 16px;
	background-color: rgb(01, 150, 190);
	color: white;
	padding: 10px;
	margin: 20px 0;
	border-top: none;
	border-left: none;
	border-radius: 5px;
	box-shadow: rgb(241, 48, 167, 0.16) 0px 1px 4px;
}

.treasurebutton:hover {
	background-color: rgb(4, 118, 150);
	cursor: pointer;
}

.treasurebutton:active {
	border-bottom: none;
	border-right: none;
	box-shadow: rgba(241, 48, 167, 0.16) 0px -1px 4px;
}

.treasuretextarea {
	width: 100%;
	height: 100px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	resize: vertical;
}
